<div class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Rasão Social</th>
                <th scope="col">CNPJ</th>
                <th scope="col">status</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">
                     <!--<button type="button" onclick="load_caduser()" id="btnCadUser" class="btn btn-success"><i class="fas fa-plus"></i> Novo Usuário</button>-->
                 </th>
              </tr>
            <tbody>
              <tr>
                  <th scope="row">001</th>
                  <td><input type="text" class="form-control" value="Ipermecado Extra" readonly="readonly"
                             disabled="disabled"></td>
                  <td><input type="text" class="form-control" value="12.935.165/0001-56" readonly="readonly"
                             disabled="disabled"></td>
                  <td>
                      <button type="button"  class="btn btn-warning"><i class="fas fa-exclamation-circle"></i>Pendente
                      </button>
                  </td>
                  <td>
                      <button type="button" onclick="load_edituser()" id="btnCadUser" class="btn btn-success">Aprovar
                      </button>
                  <td>

                      <button type="button" class="btn-danger form-control" value="">Rejeitar</button>
                  </td>
                  <td>
                      <a href="#"><i class="fas  fa-eye fa-2x"></i></a>
                  </td>
          </tr>
          <tr>
              <th scope="row">002</th>
              <td><input type="text" class="form-control" value="Super Adega" readonly="readonly"
                         disabled="disabled"></td>
              <td><input type="text" class="form-control" value="25.935.165/0001-56" readonly="readonly"
                         disabled="disabled"></td>
              <td>
                  <button type="button"  class="btn btn-warning"><i class="fas fa-exclamation-circle"></i>Pendente
                  </button>
              </td>
              <td>
                  <button type="button" onclick="load_edituser()" id="btnCadUser" class="btn btn-success">Aprovar
                  </button>
              <td>

                  <button type="button" class="btn-danger form-control" value="">Rejeitar</button>
              </td>
              <td>
                  <a href="#"><i class="fas  fa-eye fa-2x"></i></a>
              </td>
          </tr>
          <tr>
              <th scope="row">003</th>
              <td><input type="text" class="form-control" value="Pão de Açucar" readonly="readonly"
                         disabled="disabled"></td>
              <td><input type="text" class="form-control" value="14.025.165/0001-26" readonly="readonly"
                         disabled="disabled"></td>
              <td>
                  <button type="button"  class="btn btn-warning"><i class="fas fa-exclamation-circle"></i>Pendente
                  </button>
              </td>
              <td>
                  <button type="button" onclick="load_edituser()" id="btnCadUser" class="btn btn-success">Aprovar
                  </button>
              <td>

                  <button type="button" class="btn-danger form-control" value="">Rejeitar</button>
              </td>
              <td>
                  <a href="#"><i class="fas  fa-eye fa-2x"></i></a>
              </td>
          </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
