<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Materials</title>
<style>
        img {
            height: 100px;
            float: left;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/Materials.js"></script>
</head>
<body onload="getMateials()">

<h3>Tabela</h3>
    <table #tbMaterials>
        <caption>Materials</caption>
        <thead>
        <th>ID</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Pontos</th>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>
</html>