<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="?page=index">
            <i class="fa d-inline fa-lg fa-envira"></i>
            <b class="logo">EcoMoney</b>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item text-white">
                    <a class="nav-link" href="#download">
                        <i class="fa fa-download"></i> Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-cog"></i> Configurações</a>
                </li>
            </ul>

            <a class="btn btn-secondary m-2" href="?page=login">
                <i class="fa fa-fw fa-user-circle-o"></i>Entrar</a>
        </div>
    </div>
</nav>